<br>
<div *ngIf="displayAnswer && !correct" class="alert alert-danger">Wrong</div>
<div *ngIf="displayAnswer && correct" class="alert alert-success">Correct</div>

<div *ngIf="!endquiz" class="container border py-3 mb-4">
  <div class="row">
    <center class="col-md-12">
      <h3>
        <span class=" border rounded border-info text-info px-2 m-y-2"> Question {{counter + 1}}</span>{{ question.question }} </h3>
      <hr>

      <button *ngFor="let op of question.options; let ans = index" (click)="isAnswer(ans)" class="btn mx-1 my-1 btn-info col-sm-5"> {{ op }}</button>
    </center>
  </div>
</div>
<div *ngIf="displayInfo" class="alert alert-info">The correct answer is {{answer}}</div>

<div *ngIf="endquiz" class="jumbotron">
  <p>This is the end of the quiz. Your score is: {{score}}/{{questions.length}}</p>
  <a routerLink="/" class="btn btn-primary">Home</a>
</div>
