<form>
  <div class="form-group">
    <label for="quizTitle">Title</label>
    <input type="text" class="form-control" id="quizTitle" aria-describedby="Quiz Title" placeholder="Enter Quiz Title">
    <small id="quizTitleHelp" class="form-text text-muted">Quiz Title</small>
  </div>
  <div class="form-group">
    <label for="quizDescription">Quiz Description</label>
    <textarea class="form-control" id="quizDescription" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
