<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form-group">
    <label for="quizTitle">Title</label>
    <input type="text" class="form-control" id="quizTitle" name="title" ngModel required #quizTitle="ngModel"
           aria-describedby="Quiz Title" placeholder="Enter Quiz Title">
    <small id="quizTitleHelp" class="form-text text-muted">The title that will be displayed</small>
  </div>
  <div class="form-group">
    <label for="quizDescription">Quiz Description</label>
    <textarea class="form-control" name="description" placeholder="Description" ngModel required
              #quizDescription="ngModel" id="quizDescription" rows="3"></textarea>
    <small id="quizDescriptionHelp" class="form-text text-muted">Describe your quiz</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
